<!DOCTYPE html>
<html>
	<head>
		<title>MRP SignUp Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript">
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
		</script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="sweetalert2.all.min.js"></script>
		<link
			href="/css/signupstyle.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>

		<link
			href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="main-w3layouts wrapper">
			<h1>MRP SignUp Form</h1>
			<div class="main-agileinfo">
				<div class="agileits-top">
					<div><%=err%></div>
					<form action="/users/register" method="POST">
						<input
							class="text"
							type="text"
							name="name"
							placeholder="name"
							required="true"
							value="<%=name%>"
						/>
						<input
							class="text email"
							type="email"
							name="email"
							placeholder="Email"
							required="true"
							value="<%=email%>"
						/>
						<input
							class="text"
							type="password"
							name="password"
							placeholder="Password"
							required="true"
							value="<%=password%>"
						/>
						<input
							class="text w3lpass"
							type="password"
							name="confirmPassword"
							placeholder="Confirm Password"
							required="true"
							value="<%=confirmPassword%>"
						/>
						<input
							class="text w3lpass"
							type="text"
							name="city"
							placeholder="City"
							required="true"
							value="<%=city%>"
						/>
						<input
							class="text w3lpass"
							type="text"
							name="address"
							placeholder="Address"
							required="true"
							value="<%=address%>"
						/>
						<input
							class="text w3lpass"
							type="text"
							name="zipcode"
							placeholder="Zipcode"
							required="true"
							value="<%=zipcode%>"
						/>
						<input
							class="text w3lpass"
							type="text"
							name="phone"
							placeholder="Phone"
							required="true"
							value="<%=phone%>"
						/>
						<div class="wthree-text">
							<label class="anim">
								<input
									type="checkbox"
									class="checkbox"
									required=""
								/>
								<span>I Agree To The Terms & Conditions</span>
							</label>
							<div class="clear"></div>
						</div>
						<input type="submit" value="SIGNUP" />
					</form>
				</div>
			</div>

			<ul class="colorlib-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</body>
</html>
