<!DOCTYPE html>
<html>
	<head>
		<title>Product</title>
		<link rel="stylesheet" type="text/css" href="/css/productstyle.css" />
		<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    /> 
	</head>
	<body>
		<% if(name) { %>
		<div class="row"><%- include('../partials/header2.ejs') %></div>
		<% }else { %>
		<div class="row"><%- include('../partials/header.ejs') %></div>
		<% } %>

		<div class="gallery">
			<% products.forEach(product => { %>
			<figure class="item">
				<div class="img-wrap">
					<img src="/images/<%=product.imagePath%>" />
				</div>
				<figcaption class="caption">
					<h1>Title : <%= product.title %></h1>
					<p class="price">Cost : <%= product.cost %></p>
					<p>Category : <%= product.category %></p>
					<p>Description : <%= product.description %></p>
					<% if(name){ %>
					<form
						action="/products/sendcontact/<%= product.seller._id %>"
						method="post"
					>
						<button><a class="btn-buy">Contact seller</a></button>
					</form>
					<% } else { %>
					<a class="btn-buy" href="/users/login">contact seller</a>
					<% } %>
				</figcaption>
			</figure>
			<% }) %>
		</div>
	</body>
</html>
