<!DOCTYPE html>
<html>
	<head>
		<title>Product</title>
		<link rel="stylesheet" type="text/css" href="/css/productstyle.css" />
	</head>
	<body>
		<div class="row">
			<%- include('../partials/header2.ejs') %>
		</div>
		 
		<div class="gallery">
			<% products.forEach(product => { %>
			<figure class="item">
			  <div class="img-wrap"><img src="/images/<%=product.imagePath%>" alt="" /></div>
			  <figcaption class="caption">
				<h1>Title : <%= product.title %></h1>
				<p class="price">Cost : <%= product.cost %></p>
				<p>Category : <%= product.category %></p>
				<p>Description : <%= product.description %></p>
				  <a class="btn-buy" href="#">contact seller</a>
			  </figcaption>
			</figure>
			<% }) %>
		  </div>
	</body>
</html>
