<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/css/productstyle.css" />
  </head>
  <body>
    <div class="row">
      <%- include("../partials/header2.ejs") %>
    </div>
    <div class="gallery">
      <figure class="item">
        <div class="img-wrap">
          <img src="/images/<%=product.imagePath%>" />
        </div>
        <figcaption class="caption">
          <h1>Title : <%= product.title %></h1>
          <p class="price">Cost : <%= product.cost %></p>
          <p>Category : <%= product.category %></p>
          <p>Description : <%= product.description %></p>
        </figcaption>
      </figure>
    </div>
  </body>
</html>
